@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

:root {
  --wisp-pink-color: #FCE4FB;
  --hollywood-color: #EC008C;
  --tapestry-color: #B56270;
  --zeus-color: #181510;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

  body {
    background-color: var(--zeus-color);
    font-family: 'Leckerli One', cursive;
    font-size: 100px;
  }

  .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }

    .text {
      color: #fff;
      -webkit-animation: lightOn 1.5s ease-in-out infinite alternate;
      animation: lightOn 1.5s ease-in-out infinite alternate;
    }

    @keyframes lightOn {
    from {
      text-shadow: 0 0 20px var(--wisp-pink-color),
        0 0 30px var(--wisp-pink-color),
        0 0 40px var(--hollywood-color),
        0 0 50px var(--tapestry-color),
        0 0 60px var(--hollywood-color),
        0 0 70px var(--tapestry-color),
        0 0 100px var(--hollywood-color),
        0 0 150px var(--tapestry-color);
    }
    to {
      text-shadow: 0 0 5px var(--wisp-pink-color),
        0 0 10px var(--wisp-pink-color),
        0 0 15px var(--hollywood-color),
        0 0 20px var(--tapestry-color),
        0 0 35px var(--hollywood-color),
        0 0 40px var(--tapestry-color),
        0 0 50px var(--hollywood-color),
        0 0 75px var(--tapestry-color);
    }
  }
